<a href="https://colab.research.google.com/github/19PA1A0562/Ensemble-methods/blob/master/Ensemble_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing required packages
import pandas as pd    # For handling data in the form of tables
import numpy as np     # For handling matrix
from sklearn.model_selection import train_test_split   # For spliting the data into Train and Test
from  sklearn.ensemble import AdaBoostClassifier     # For using the model
from sklearn import metrics    # For finding the error

In [3]:
# Loading the data
data=pd.read_csv("diabetes.csv")
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [15]:
# Check for any na's
data.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [14]:
# Finding the shape of the data
data.shape   # It has 768 rows and 9 columns

(768, 9)

In [0]:
x=data.iloc[:,0:8].values  # select the independent variables
y=data.iloc[:,8].values    #  select the dependent variables

In [35]:
# check the shape of x
x.shape

(768, 8)

In [36]:
# check the shape of y
y.shape

(768,)

In [0]:
# Divide the data into train and test data.Here we are keeping 20% of the data as test data
x_train,x_test,y_train,y_test=train_test_split(x ,y ,test_size=0.2 ,random_state=25)

In [0]:
# Create Adaboost classifier 
Adamodel = AdaBoostClassifier(n_estimators=200, learning_rate=1)
# n_estimators = Number of weak learners to train iteratively
# learning_rate = It contributes to the weights of week learners.Default value is 1

In [0]:
# Train Adaboost classifier
model = Adamodel.fit(x_train,y_train)

In [0]:
# Apply the model on test data
y_predict = model.predict(x_test)

In [67]:
# Dataframe with actual values and prdicted values
df=pd.DataFrame({'predicted': y_predict.flatten(),'Actual': y_test.flatten()})
df.head(100)

    predicted  Actual
0           0       0
1           1       1
2           0       0
3           1       1
4           0       0
..        ...     ...
95          0       0
96          0       0
97          0       1
98          0       0
99          0       0

[100 rows x 2 columns]

In [87]:
# Finding the Mean squared error
a = metrics.mean_squared_error(y_test,y_predict)
print('Mean Squared Error:', a)

Mean Squared Error: 0.24025974025974026

**Random Forest **

In [71]:
from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier(n_estimators=100)  # creating the model
model1.fit(x_train,y_train)  # Fitting the model

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
# Apply the model on the test data
y1_predict= model1.predict(x_test)

In [73]:
# Dataframe with actual values and prdicted values
df1=pd.DataFrame({'predicted': y1_predict.flatten(),'Actual': y_test.flatten()})
df1.head(100)

    predicted  Actual
0           0       0
1           0       1
2           0       0
3           1       1
4           0       0
..        ...     ...
95          0       0
96          0       0
97          0       1
98          0       0
99          0       0

[100 rows x 2 columns]

In [86]:
# Finding the Mean squared error
b=metrics.mean_squared_error(y_test,y1_predict)
print('Mean Squared Error:', b)

Mean Squared Error: 0.19480519480519481

**Decision Tree**

In [76]:
from sklearn import tree
model3=tree.DecisionTreeClassifier()
model3.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
# Apply the model on the test data
y2_predict= model3.predict(x_test)

In [79]:
# Dataframe with actual values and prdicted values
df2=pd.DataFrame({'predicted': y2_predict.flatten(),'Actual': y_test.flatten()})
df2.head(100)

    predicted  Actual
0           0       0
1           0       1
2           0       0
3           1       1
4           0       0
..        ...     ...
95          0       0
96          0       0
97          0       1
98          0       0
99          0       0

[100 rows x 2 columns]

In [89]:
# Finding the Mean squared error
c=metrics.mean_squared_error(y_test,y2_predict)
print('Mean Squared Error:', c)

Mean Squared Error: 0.2987012987012987

**conclusion**

In [90]:
# creating a dataframe to find which model is working accurately
rows = [('Adaboost',a),
        ('Random Forest',b),
        ('Decision Tree',c)]
df=pd.DataFrame(rows, columns = ["Models", "Meansquareerror"])
df

          Models  Meansquareerror
0       Adaboost         0.240260
1  Random Forest         0.194805
2  Decision Tree         0.298701

# *By observing the above dataframe we can see Random Forest classifier as the least MSE value. So Random Forest Classifier is Performing better. *